.carousel{
  background-color: hwb(8 50% 32% / 0.197);
}
.carousel-item{
  width: 70%;
  height: 250px;
  padding-left: 100px;
  margin-top: 10px;
}
.contact{
  height: 500px;
  display: flex;
  margin-top: 40px;
  padding-top: 15px;
  background-color: azure;
}
.contact img{
  padding-left: 30px;
  padding-top: 30px;
  
}
form{
  display: block;
  padding-left: 120px;
  width: 550px;
  text-align: left;
  
}
#fb{
  padding-bottom: 20px;
 background-color: cornsilk;
}
.contact-info{
  display: flex;
}
.info{
  padding-left: 110px;
  display: block;
}
h5 i{
  padding-top: 40px;
}
i{
  padding-right: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 83%, 5%);
  padding: 20px;
  color: white;
  padding-top: 20px;
  height: 200px;
  padding-left: 200px;
}
.infomation a{
  text-decoration: none;
  padding-top: 5px;
}
.infomation {
  width:200px ;
}
.infomation,
.social-network {
  width: 45%;
}
.infomation a,
.social-network a {
  display: block;
}
/* .social-network{
  width: 50px;
} */
.social-network a{
  padding-top: 28px;
  margin-top: 0px;
  margin-left: -80px;
  text-decoration: none;
  width: 150px;
}
a:hover i{
  transform: scale(1.5);
}
i{
  padding: 5px;
}
